<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informacion de mi Pelicula</title>

</head>
<body>

  <header>
    <img src="https://static.wikia.nocookie.net/46a012d3-23d0-4229-a841-8c26edcce3b5" alt="Descripcion de imagen" class="profile-picture">
    <h1>HARRY POTTER</h1>
  </header>

  <section class="bio">
    <h2>Historia</h2>
      <p>La historia de Harry Potter sigue la vida de un niño huérfano llamado Harry, 
       quien descubre que es un mago cuando recibe una invitación para asistir a la escuela 
       de magia Hogwarts. Allí, hace amigos, como Ron y Hermione, y descubre su legado 
       como "el Niño que Vivió", sobreviviente de un ataque mortal de Lord Voldemort 
       cuando era un bebé.</p>
      </section>       
  <section class="medium">   
      <h3>Personajes: </h3>
      <p>Harry Potter:un mago huérfano que descubre su herencia mágica el día de su undécimo cumpleaños. <br> <br>

        Hermione Granger: Amiga cercana de Harry y Ron, es una estudiante excepcionalmente inteligente y hábil en la magia.<br> <br>
        
        Ron Weasley: Otro de los mejores amigos de Harry, miembro de la familia Weasley, una familia grande y amorosa.<br> <br>
        
        Albus Dumbledore: El director de la escuela de magia Hogwarts y un poderoso mago.<br> <br>
        
        Severus Snape: Profesor de Pociones en Hogwarts con una relación compleja con Harry.<br> <br>
        
        Lord Voldemort (Tom Riddle): El principal antagonista, un mago oscuro obsesionado con la pureza de la sangre y la conquista mágica.<br> <br>
        
        Ginny Weasley: Hermana menor de Ron y amiga de Harry, se convierte en un personaje más prominente a medida que avanza la historia.<br> <br>
        
        Sirius Black: Padrino de Harry y miembro de la familia Black, una figura importante en la resistencia contra Voldemort.<br> <br>
        
        Dobby: Un elfo doméstico que desempeña un papel importante en la historia.</p> 
  </section>

  <section class="final">
    <h2>¿Te gusta Harry Potter? Entonces te encantaran estas series</h2>
    <section class=card>
    <p> <b>El Señor de los Anillos:</b> <br>
      La historia sigue la búsqueda de un humilde hobbit llamado Frodo Bolsón
      para destruir un poderoso anillo que amenaza con sumir a la Tierra Media 
      en la oscuridad. A lo largo de su viaje, Frodo se une a diversos personajes, 
      enfrenta peligros y desafíos, mientras un malvado señor oscuro, Sauron,
       busca reclamar el anillo para sí mismo y consolidar su dominio.</p> 
      </section>
      <section class="card">
    <p><b>Las Cronicas de Narnia:</b> <br>
      Sigue las aventuras de niños que descubren el mágico mundo de Narnia
       a través de un armario. En Narnia, los niños enfrentan desafíos épicos, 
       conocen a criaturas fantásticas y participan en la lucha entre el bien y el mal, 
       liderados por el león Aslan. La serie aborda temas de moralidad, valentía y 
       la eterna lucha entre la luz y la oscuridad.</p>
      </section> 
    </section>


</body>
</html>