<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informacion de mi Pelicula</title>

</head>
<body>

  <header>
    <img src="https://static.wikia.nocookie.net/46a012d3-23d0-4229-a841-8c26edcce3b5" alt="Descripcion de imagen" class="profile-picture">
    <h1>HARRY POTTER</h1>
  </header>

  <section class="section bio">
    <h2>La historia de Harry Potter sigue la vida de un niño huérfano llamado Harry, <br>
       quien descubre que es un mago cuando recibe una invitación para asistir a la escuela <br>
       de magia Hogwarts. Allí, hace amigos, como Ron y Hermione, y descubre su legado <br>
       como "el Niño que Vivió", sobreviviente de un ataque mortal de Lord Voldemort <br>
       cuando era un bebé.</h2>
  </section>

  <section class="section related">
    <h2>¿Te gusta Harry Potter? Entonces te encantara esta serie</h2>
  </section> 

</body>
</html>
